.tabsWrap {
    display: flex;
    justify-content: center;
    align-items: center;

    .tabsWrapItem {
        flex-grow: 1;
        text-align: center;
        height: 46px;
        line-height: 46px;
        color: var(--tab-item-text);
        background: linear-gradient(to bottom, var(--welcome-bg-end) 0, var(--navbar-bg-end) 100%) ;
        position: relative;
        overflow: hidden;
    }
    .tabsWrapItemActive {
        overflow: hidden;
    }
    .tabsWrapItemActive::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: var(--tab-item-line);
    }
}
.sticky {
    position: sticky;
    top: 0;
}