.wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    > .card {
        background-color: var(--welcome-card-bg);
        border-radius: 8px;
        padding: 16px;
        padding-bottom: 24px;
        margin: 0 16px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        > h2 {
            margin-top: 40px;
        }
    }
    > .actions {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: var(--z-index-bottom-nav);
        background: var(--welcome-bg-end);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: var(--webcome-nav-height);
        padding: 0 16px;
        font-size: 24px;
        color: var(--welcome-text);
        > .fake {visibility: hidden;}
    }

}