.welcome {
    height: calc(100vh - var(--webcome-nav-height));
    display: flex;
    flex-direction: column;
    margin-bottom: var(--webcome-nav-height);
    background-image: linear-gradient(to bottom, var(--welcome-bg-start) 0%, var(--welcome-bg-end) var(--webcome-nav-height));
    > header {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 32px;
        color: #D4D4EE;
    }
    > main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}