.navbar {
    position: sticky;
    top: 0;
    padding: 50px 0 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: var(--navbar-z-index);
    background-image: linear-gradient(to bottom, var(--navbar-bg-start) 0%, var(--navbar-bg-end) 100%);
    &_icon {
        position: relative;
        top: 2px;
    }
    &_text {
        font-size: var(--navbar-font-size);
        color: var(--navbar-text);
    }
}