:root {
    --welcome-card-bg: white;
    --welcome-text: white;
    --welcome-bg-start: #5d33be;
    --welcome-bg-end: #8f4cd7;
    --webcome-nav-height: 63px;
    --z-index-bottom-nav: 10;
    --button-bg: #5d33be;
    --button-text: white;
    --button-font-size: 18px;
    --button-radius: 8px;
    --button-height: 48px;
    --float-button-bg: #5d33be;
    --navbar-bg-start:#5d33be;
    --navbar-bg-end: #8f4cd7;
    --navbar-text: #fff;
    --navbar-font-size: 24px;
    --layer-z-index: 20;
    --overlay-bg: #fff;
    --overlay-z-index: 30;
    --overlay-head-bg: #5C33BE;
    --overlay-head-height: 128px;
    --overlay-head-title1-font-size: 24px;
    --overlay-head-title1-color: #FFFFFF;
    --overlay-head-title2-font-size: 16px;
    --overlay-head-title2-color: #CEA1FF;
    --overlay-main-item-font-size: 20px;
    --tab-item-line: #C8B1FF;
    --tab-item-text: #FFFFFF;
    --input-pad-border-color: #ddd;
}