:root {
    --welcome-card-bg: white;
    --welcome-text: white;
    --welcome-bg-start: #5d33be;
    --welcome-bg-end: #8f4cd7;
    --webcome-nav-height: 63px;
    --z-index-bottom-nav: 10;
    --button-bg-normal: #5d33be;
    --button-bg-error: #E10505;
    --button-text: white;
    --button-font-size: 18px;
    --button-radius: 8px;
    --button-height: 48px;
    --button-border-color: #ddd;
    --float-button-bg: #5d33be;
    --navbar-bg-start:#5d33be;
    --navbar-bg-end: #8f4cd7;
    --navbar-text: #fff;
    --navbar-font-size: 24px;
    --layer-z-index: 20;
    --overlay-bg: #fff;
    --overlay-z-index: 30;
    --navbar-z-index: 100;
    --overlay-head-bg: #5C33BE;
    --overlay-head-height: 128px;
    --overlay-head-title1-font-size: 24px;
    --overlay-head-title1-color: #FFFFFF;
    --overlay-head-title2-font-size: 16px;
    --overlay-head-title2-color: #CEA1FF;
    --overlay-main-item-font-size: 20px;
    --tab-item-line: #C8B1FF;
    --tab-item-text: #FFFFFF;
    --input-pad-border-color: #ddd;
    --input-pad-button-bg: #fff;
    --input-pad-button-bg-important: #5d33be;
    --input-pad-button-text-important: #fff;
    --input-min-height: 48px;
    --input-border-color: #5c33be;
    --input-radius: 8px;
    --input-shadow: rgba(0,0,0,0.25);
    --emoji-nav-text-selected: #5c33be;
    --emoji-selected-color: #5c33be;
    --error-color: #E10505;
    --tag-bg: #efefef;
    --main: #5c33be;
    --total-bg: #252A43;
    --total-text: white;
    --total-income: #FE7275;
    --total-expenses: #53A867;
    --list-tag-text: #333;
    --amount-text: #53a867;
    --date-text: #999999;
    --list-amount-text: var(--amount-text);
     --list-time-text: var(--date-text);
}